DATABASE_URL=postgresql://user:password@hostname/neondb?sslmode=require

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

SECRET_KEY=
CHAT_MASTER_KEY=

SMTP_USER=
SMTP_PASSWORD=
SMTP_SERVER=
SMTP_PORT=
FROM_EMAIL=

BKASH_USERNAME=
BKASH_PASSWORD=
BKASH_APP_KEY=
BKASH_APP_SECRET=
BKASH_BASE_URL=

STUN_URLS=stun:stun.l.google.com:19302
TURN_URLS=

TURN_USERNAME=
TURN_PASSWORD=

TURN_STATIC_AUTH_SECRET=
TURN_CREDENTIAL_TTL=43200